@model PoCNetsEasy.Models.Data
@{
    ViewBag.Title = "Accept";
}

<div>
    <h2>Thank you for your purchase!</h2>
    <img src="https://i.redd.it/581ddb6y97u61.jpg" alt="Accept Very Nice" />
    <div>
        <p>Placement of order @Model.orderid</p>

    </div>
</div>


